/Development
/Backend
obfuscate.bat
/node_modules
obfuscator-config.js
/Development - Backup
/.vscode
/ACV ext
/ACV ext.rar
/gitignore
/test extension/background.js
/test extension/manifest.json